body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 10px;
    height: 300px;
    width: 300px;
    -webkit-app-region: drag;
}

#quote
{
  /*background-color: #222233;*/
  color: #AACCFF;
  width: 300px;
  height: 303px;
  overflow: auto;
}

#trayHeader
{
  background-color: white;
  color: darkslategrey;
  width: 298px;
  height: 50px;
  border-bottom: 1px silver;
  padding: 5px 0;
}

#myInput
{
  width: 295px;
  /*border-radius: 4px;*/
}

div.stickysearch
{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 5px;
}

.cuadroTarea
{
  margin-bottom: 5px;
  height: 70px;
  position: relative;
  
}

.topLeft
{
  float:left;
  height: 10px;
  
  height: 15px;
  width: 143px;
  padding-left: 5px;
}

.topRight
{
  height: 10px;
  
  width: 143px;
  margin-left: 50%;
  height: 15px;
  text-align: right;
  padding-right: 5px;
}

.bottomLeft
{
  height: 10px;
  position: absolute;
  margin-top: 41px;
  height: 15px;
  
  width: 143px;
  padding-left: 5px;
}

.bottomRight
{
  height: 10px;
  position: absolute;
  float: right;
  margin-top: 41px;
  margin-left: 50%;
  height: 15px;
  width: 143px;
  text-align: right;
  padding-right: 5px;
  
}

.centerLeft
{
  float:left;
  height: 30px;

  width: 23%;
  
}

.center
{
  height: 30px;
  float:left;
  width: 100%;
  
  text-align: center;
  vertical-align: middle;
}

.centerRight
{
  float:right;
  height: 30px;
  width: 23%;
  
}

.tareaTerminada
{
    background-color: cadetblue;
    color: darkslategrey;

}

.tareaPendiente
{
    background-color: wheat;
    color: darkslategrey;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
