{% extends "layoutFull.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $("#myInput").attr("disabled", "disabled");
        $(".nav-link").removeClass("active");
        $("#taskListCatalogue").addClass("active");
    });
</script>

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-3 mt-3">
    <h2 >Plataforma tareas <span><small><a class="mr-5 text-center" href="/dashboard">volver</a></small></span></h2>
    <div class="card-deck mb-3 text-center container-fluid">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Básico</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$xxxxxxx <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Acceso a plataforma de tareas 5 usuarios</li>
                    <li>Acceso a historial de tareas</li>
                    <li>Herramientas analíticas básicas</li>
                    <li>Ejecución de tareas en pool común</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Contratado</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Operacional</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$xxxxxxx <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Acceso a plataforma de tareas 5 usuarios</li>
                    <li>Acceso a historial de tareas</li>
                    <li>Herramientas analíticas básicas</li>
                    <li>Reportes automátizados</li>
                    <li>Seguimiento móvil</li>
                    <li>Prioridad alta en ejecución de tareas</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Cambiar plan</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Corporativo</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$XXXXXX <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Acceso a plataforma de tareas usuarios ilimitados</li>
                    <li>Acceso a historial de tareas</li>
                    <li>Herramientas analíticas avanzadas para toma de decisiones</li>
                    <li>Reportes automátizados y seguimiento en línea</li>
                    <li>Acceso temprano a nuevos servicios</li>
                    <li>Servicio exclusivo de ejecución de tareas</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Cambiar plan</button>
            </div>
        </div>
    </div>
</main>

{% endblock%}