<div class="card float-left mr-2 mt-2 taskwidgetFlat">
  <div class="card-body">
    <p class="card-text"> Tarea {{task["ejecutable"]}} <span
        class="badge badge-pill badge-{{badge}}"><small>{{task["estado"]}}</small></span></p>
    <!--<h1 class="card-title display-1 text-primary">35%</h1>-->
    <p class="card-text">
      
      <b>Id:</b> {{task["ID"]}}<br />
      <b>Nombre:</b> {{task["name"]}}<br />   
      <b>Creada por:</b> {{task["user"]}}<br />

    {%if taskJob.IsAFinishedTask():%}
      <b>Duración:</b> {{task["endtime"]}}<br />
      <a href="/taskStatus/{{task["ID"]}}" target="_blank" class="btn btn-sm btn-block btn-success">Reporte</a>
    {%endif%}

    {%if taskJob.IsAFinishedTask() == false:%}
      <b>Tiempo en ejecución:</b> {{task["elapsed"]}}<br />
      <p class="card-text"><small class="text-muted">Última actualización: hace 1 minuto</small></p>
    {%endif%}
    
  </div>
</div>