{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $(".nav-link").removeClass("active");
        $("#navNewTask").addClass("active");
    });
</script>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-3">
  <div class="row mb-3">
    <div class="col-sm-6">
      <div class="card mt-3">
        <div class="card-body">
          <h3 class="card-title">Información Tarea</h3>

          {%if taskJob.IsAFinishedTask():%}
          <b>Estado:</b> {{task["estado"]}}<br />
          <b>Id:</b> {{task["ID"]}}<br />
          <b>Nombre:</b> {{task["name"]}}<br />   
          <b>Duración:</b> {{task["endtime"]}}<br />
          <b>Fecha solicitada:</b> {{task["creation"]}}<br />
          <b>Fecha termino:</b> {{task["ended"]}}<br />
          <br />

          <h5 class="card-title">Archivos Input</h5>
          <ul class="list-group ">
          {% for item in taskJob.GetAllFilesInput() %}
          <li class="list-group-item"> <a href="{{ url_for('static', filename=item) }}" target="_blank">{{item}}</a></li>
          {% endfor %}
          </ul>
        </br>
          <h5 class="card-title">Archivos Resultado</h5>
          <ul class="list-group ">
          {% for item in taskJob.GetAllFilesOutput() %}
          <li class="list-group-item"> <a href="{{ url_for('static', filename=item) }}" target="_blank">{{item}}</a></li>
          {% endfor %}
          </ul>
        {%endif%}
    
        {%if taskJob.IsAFinishedTask() == false:%}
          <b>Id:</b> {{task["ID"]}}<br />
          <b>Tiempo en ejecución:</b> {{task["elapsed"]}}<br />
          <b>Fecha solicitada:</b> {{task["creation"]}}<br />
          <b>Creada por:</b> {{task["user"]}}</p>
        {%endif%}
        
        <a class="my-3 btn btn-primary btn-block" href="{{ url_for('static', filename=taskJob.GetZipFilename()) }}">Descargar todos los archivos</a>

          <div class="row">
            {{widget | safe}}
            <div class="col-sm-12 mt-4 center ">
                <h5 class="alert-heading">Log:</h5>
              <div class="alert alert-secondary" role="alert">
                
                <div class="overflow-auto text-justify" style="font-family:monospace;">
                  {{task["output"] | safe}} 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock%}