<nav class="navbar navbar-expand-md navbar-dark fixed-top {{config['COLOR_BACKGROUND_CLASS']}}">
    <a class="navbar-brandmr-5 text-center mr-5" href="/dashboard">
      <img src={{ url_for('static', filename='logo.png')}} class="user-logo" alt="User Image">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    
    <input type="text" class="form-control form-control-dark" type="text" aria-label="Search" id="myInput" placeholder="Buscar una tarea en particular....">      
    <ul class="navbar-nav px-3">

        <b class="display-5">TASKER</b>

      <li class="nav-item active dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src={{ url_for('static', filename='avatar.png')}} class="user-image" alt="User Image">
          <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
          <span class="hidden-xs">Usuario 1</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Mi cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/login">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>